@import "tailwindcss";

@layer components {
  .main-hero {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    will-change:
      mask-size,
      -webkit-mask-size;

    /* Mask is a rectangle we can scale to 0 height */
    -webkit-mask-image: linear-gradient(#000 0 0);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 100% 0%;

    mask-image: linear-gradient(#000 0 0);
    mask-repeat: no-repeat;
    mask-position: center;
    /* width is 100% where as height is 0% initiall */
    mask-size: 100% 0%;
  }
}
